# Used by docker-compose.yml when running `docker compose up`
JWT_KEY=generate_a_random_32+_char_secret_here
EMAIL_SENDER=your_gmail_address@gmail.com
EMAIL_SENDER_PASSWORD=your_gmail_app_password_here
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
